@import '~bootstrap/scss/bootstrap';

img {
  height: 380px;
  width: 500px;
}

button {
  background-color: #257bf5;
}

.internet-bar {
  background-color: #eba434;
  height: 3rem;
}

.target {
  border: 2px solid black;
}